.gif-block {
    position: relative;
    display: inline-block;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 30px;
}

.card {
    margin: 10px 5px;
    display: inline-block;
}

aside {
    width: 20%;
    float: right;
    position: relative;
}

.form-control{
    max-width: 70%;
}

#gif-container {
    width: 70%;
}

.gif-button {
    margin: 5px;
}

#button-container {
    padding: 10px;
}